<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Accessory0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 13}</string>
			<key>spriteSourceSize</key>
			<string>{76, 13}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {76, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Accessory0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 13}</string>
			<key>spriteSourceSize</key>
			<string>{76, 13}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{78, 0}, {76, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Accessory0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 13}</string>
			<key>spriteSourceSize</key>
			<string>{76, 13}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 0}, {76, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Accessory0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 13}</string>
			<key>spriteSourceSize</key>
			<string>{76, 13}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 0}, {76, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Accessory0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 13}</string>
			<key>spriteSourceSize</key>
			<string>{76, 13}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 0}, {76, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Accessory0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 13}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 13}</string>
			<key>spriteSourceSize</key>
			<string>{76, 13}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{390, 0}, {76, 13}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Body0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{53, 110}, {414, 618}}</string>
			<key>spriteOffset</key>
			<string>{-21, -48}</string>
			<key>spriteSize</key>
			<string>{414, 618}</string>
			<key>spriteSourceSize</key>
			<string>{562, 742}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 0}, {414, 618}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Body0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{60, 0}, {502, 688}}</string>
			<key>spriteOffset</key>
			<string>{30, 27}</string>
			<key>spriteSize</key>
			<string>{502, 688}</string>
			<key>spriteSourceSize</key>
			<string>{562, 742}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{884, 0}, {502, 688}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Body0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 65}, {432, 610}}</string>
			<key>spriteOffset</key>
			<string>{-65, 1}</string>
			<key>spriteSize</key>
			<string>{432, 610}</string>
			<key>spriteSourceSize</key>
			<string>{562, 742}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1388, 0}, {432, 610}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Body0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 92}, {384, 630}}</string>
			<key>spriteOffset</key>
			<string>{-49, -36}</string>
			<key>spriteSize</key>
			<string>{384, 630}</string>
			<key>spriteSourceSize</key>
			<string>{562, 742}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 690}, {384, 630}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Body0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{7, 31}, {420, 666}}</string>
			<key>spriteOffset</key>
			<string>{-64, 7}</string>
			<key>spriteSize</key>
			<string>{420, 666}</string>
			<key>spriteSourceSize</key>
			<string>{562, 742}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{386, 690}, {420, 666}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Body0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{40, 46}, {500, 696}}</string>
			<key>spriteOffset</key>
			<string>{9, -23}</string>
			<key>spriteSize</key>
			<string>{500, 696}</string>
			<key>spriteSourceSize</key>
			<string>{562, 742}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{808, 690}, {500, 696}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnAccessory0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 118}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1310, 690}, {118, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnAccessory0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 118}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1430, 690}, {118, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnAccessory0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 118}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1550, 690}, {118, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnBody0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 118}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1670, 690}, {118, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnBody0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 118}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1790, 690}, {118, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnBody0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 118}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1910, 690}, {118, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnCheck0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 76}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1388}, {76, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnCheck0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 76}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{78, 1388}, {76, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnCheck0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 76}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{156, 1388}, {76, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnCheck0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 76}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{234, 1388}, {76, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnCheck0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 76}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{312, 1388}, {76, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnCheck0006.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {76, 76}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{76, 76}</string>
			<key>spriteSourceSize</key>
			<string>{76, 76}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{390, 1388}, {76, 76}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnHead0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 118}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{468, 1388}, {118, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnHead0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 118}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{588, 1388}, {118, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnHead0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {118, 118}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{118, 118}</string>
			<key>spriteSourceSize</key>
			<string>{118, 118}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{708, 1388}, {118, 118}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnName.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {401, 114}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{401, 114}</string>
			<key>spriteSourceSize</key>
			<string>{401, 114}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{828, 1388}, {401, 114}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnScroll0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 102}</string>
			<key>spriteSourceSize</key>
			<string>{37, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1231, 1388}, {37, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnScroll0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 102}</string>
			<key>spriteSourceSize</key>
			<string>{37, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1270, 1388}, {37, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>BtnScroll0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {37, 102}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{37, 102}</string>
			<key>spriteSourceSize</key>
			<string>{37, 102}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1309, 1388}, {37, 102}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Head0001.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {147, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{147, 154}</string>
			<key>spriteSourceSize</key>
			<string>{147, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1348, 1388}, {147, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Head0002.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {147, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{147, 154}</string>
			<key>spriteSourceSize</key>
			<string>{147, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1497, 1388}, {147, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Head0003.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {147, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{147, 154}</string>
			<key>spriteSourceSize</key>
			<string>{147, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1646, 1388}, {147, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Head0004.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {147, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{147, 154}</string>
			<key>spriteSourceSize</key>
			<string>{147, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{1795, 1388}, {147, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Head0005.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {147, 154}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{147, 154}</string>
			<key>spriteSourceSize</key>
			<string>{147, 154}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 1544}, {147, 154}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.5</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{2048, 2048}</string>
		<key>name</key>
		<string>loginAll</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>loginAll_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>loginAll_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>