<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>Cursor.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {53, 51}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{53, 51}</string>
			<key>spriteSourceSize</key>
			<string>{53, 51}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{146, 41}, {53, 51}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ElectroFlash.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {594, 41}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{594, 41}</string>
			<key>spriteSourceSize</key>
			<string>{594, 41}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 530}, {594, 41}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>Rainbow.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {629, 35}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{629, 35}</string>
			<key>spriteSourceSize</key>
			<string>{629, 35}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 573}, {629, 35}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ReturnBtGarden0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {139, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{139, 110}</string>
			<key>spriteSourceSize</key>
			<string>{139, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 143}, {139, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ReturnBtGarden0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {139, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{139, 110}</string>
			<key>spriteSourceSize</key>
			<string>{139, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{284, 143}, {139, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>ReturnBtGarden0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {139, 110}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{139, 110}</string>
			<key>spriteSourceSize</key>
			<string>{139, 110}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 143}, {139, 110}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoBtPlay0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{218, 127}</string>
			<key>spriteSourceSize</key>
			<string>{218, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{442, 272}, {218, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoBtPlay0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{218, 127}</string>
			<key>spriteSourceSize</key>
			<string>{218, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{662, 272}, {218, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoBtPlay0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{218, 127}</string>
			<key>spriteSourceSize</key>
			<string>{218, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{425, 143}, {218, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoBtPlay0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{218, 127}</string>
			<key>spriteSourceSize</key>
			<string>{218, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{645, 143}, {218, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoBtStop0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{218, 127}</string>
			<key>spriteSourceSize</key>
			<string>{218, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 272}, {218, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoBtStop0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{218, 127}</string>
			<key>spriteSourceSize</key>
			<string>{218, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 272}, {218, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoBtStop0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{218, 127}</string>
			<key>spriteSourceSize</key>
			<string>{218, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{222, 401}, {218, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoBtStop0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {218, 127}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{218, 127}</string>
			<key>spriteSourceSize</key>
			<string>{218, 127}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 401}, {218, 127}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoFive0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 37}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{526, 2}, {46, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoFive0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 37}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{98, 41}, {46, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoFive0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {46, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -1.5}</string>
			<key>spriteSize</key>
			<string>{46, 34}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{430, 2}, {46, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoFive0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 37}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{814, 2}, {46, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoFour0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 37}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{50, 41}, {46, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoFour0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 37}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{766, 2}, {46, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoFour0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {46, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -1.5}</string>
			<key>spriteSize</key>
			<string>{46, 34}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{958, 2}, {46, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoFour0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 37}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{862, 2}, {46, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoOne0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 37}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{718, 2}, {46, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoOne0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 37}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 41}, {46, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoOne0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {46, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -1.5}</string>
			<key>spriteSize</key>
			<string>{46, 34}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{190, 2}, {46, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoOne0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 37}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{910, 2}, {46, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoSix0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 37}}</string>
			<key>spriteOffset</key>
			<string>{-0.5, -0}</string>
			<key>spriteSize</key>
			<string>{45, 37}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{96, 2}, {45, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoSix0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 37}}</string>
			<key>spriteOffset</key>
			<string>{-0.5, -0}</string>
			<key>spriteSize</key>
			<string>{45, 37}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{49, 2}, {45, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoSix0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {45, 34}}</string>
			<key>spriteOffset</key>
			<string>{-0.5, -1.5}</string>
			<key>spriteSize</key>
			<string>{45, 34}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{2, 2}, {45, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoSix0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {45, 37}}</string>
			<key>spriteOffset</key>
			<string>{-0.5, -0}</string>
			<key>spriteSize</key>
			<string>{45, 37}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{143, 2}, {45, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoTBen0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{385, 41}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoTFlora0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{589, 41}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoTJack0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{895, 41}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoTJill0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{691, 41}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoTLucy0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{283, 41}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoTSophie0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{793, 41}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoTVincent0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {100, 100}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{100, 100}</string>
			<key>spriteSourceSize</key>
			<string>{100, 100}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{487, 41}, {100, 100}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoThree0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {46, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0.5}</string>
			<key>spriteSize</key>
			<string>{46, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{574, 2}, {46, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoThree0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {46, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0.5}</string>
			<key>spriteSize</key>
			<string>{46, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{382, 2}, {46, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoThree0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 4}, {46, 33}}</string>
			<key>spriteOffset</key>
			<string>{0, -2}</string>
			<key>spriteSize</key>
			<string>{46, 33}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{238, 2}, {46, 33}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoThree0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 1}, {46, 36}}</string>
			<key>spriteOffset</key>
			<string>{0, -0.5}</string>
			<key>spriteSize</key>
			<string>{46, 36}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{478, 2}, {46, 36}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoTouxiang0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {80, 44}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{80, 44}</string>
			<key>spriteSourceSize</key>
			<string>{80, 44}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{201, 41}, {80, 44}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoTwo0001.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 37}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{670, 2}, {46, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoTwo0002.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 37}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{622, 2}, {46, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoTwo0003.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 3}, {46, 34}}</string>
			<key>spriteOffset</key>
			<string>{0, -1.5}</string>
			<key>spriteSize</key>
			<string>{46, 34}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{286, 2}, {46, 34}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>homeVideoTwo0004.png</key>
		<dict>
			<key>aliases</key>
			<array/>
			<key>spriteColorRect</key>
			<string>{{0, 0}, {46, 37}}</string>
			<key>spriteOffset</key>
			<string>{0, -0}</string>
			<key>spriteSize</key>
			<string>{46, 37}</string>
			<key>spriteSourceSize</key>
			<string>{46, 37}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{334, 2}, {46, 37}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
	</dict>
</dict>
</plist>